<div class="container">
	
	<div class="banner">
		<div class="overlay">
			<div class="header">
				<div class="logo">
					<%= image_tag 'logo' %>
				</div>
				<div class="tm">
					Telecommunications Marketing
				</div>
			</div>
		</div>
		<%= image_tag 'stock' %>
		<div class="contact">
			<div>
				Contact
			</div>
			|
			<div>
				John Mansfield
			</div>
			|
			<div>
				Director
			</div>
			|
			<div>
				<%= link_to 'Tel: 0771 485 0044', 'tel:0771485044' %>
			</div>
		</div>
	</div>
	
	<div class="enquiries">
		For all enquiries please contact Nigel Mansfield, Ayudar Ltd on <%= link_to '0771 485 00 42', 'tel:07714850042' %>
	</div>
</div>
